<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExpensesTracker.Properties.Settings.Expenses_TrackerConnectionString"
            connectionString="Data Source=LAPTOP-86PJE7FL\SQLEXPRESS;Initial Catalog=Expenses_Tracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<appSettings>
  <add key="DBName" value="Bharat"/>
</appSettings>
</configuration>
